<div class="home-container">

  <div class="h-screen flex items-center justify-center" id="center-content">
    <div class="flex-col">
      <h1 class="text-left text-5xl text-slate-700 font-roboto font-semibold">O[people] S[ource]</h1>
      <h1 class="text-left text-5xl text-emerald-600 font-roboto font-extrabold">Rev[erse]</h1>
      <h1 class="text-left text-5xl text-emerald-600 font-roboto font-extrabold">Eng[ineering]</h1>
      <div class="p-8" id="center-textbox">
        <div class="flex-initial w-96 flex-wrap rounded-lg border shadow-lg bg-slate-200 border-emerald-600">
          <div class="p-2">
            <div class="whitespace-normal">
              <h5 class="text-xl text-left font-roboto font-extrabold">OSRevenge is a free and open source reverse engineering database for mechanical parts. Our mission is to create a community-driven platform where engineers and makers can collaborate and share knowledge about the design and manufacturing of mechanical parts.</h5>
            </div>
          </div>
        </div>
      </div>
      <!-- Using utilities: -->
      <button class="w-16 shadow-lg bg-emerald-300 border-2 border-slate-400 hover:bg-emerald-500 active:bg-emerald-500 focus:outline-none focus:outline-blue-700 p-1 rounded">
        Button
      </button>

    </div>
  </div>


</div>
